<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Star Wars</title>
    <link rel="stylesheet" href="css/normalize.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico"
  </head>
  <body>
    <div class="menu-box">
      <div class="container">
        <div class="logo-container">
          <a href="/swapi" class="logo-box">
            <img src="img/logo.png" alt="StarWars" />
          </a>
        </div>
        <ul>
          <li><a class="menu" href="/people">People</a></li>
          <li><a class="menu" href="/films">Films</a></li>
          <li><a class="menu" href="/starships">Starships</a></li>
          <li><a class="menu" href="/vehicles">Vehicles</a></li>
          <li><a class="menu" href="/species">Species</a></li>
          <li><a class="menu" href="/planets">Planets</a></li>
        </ul>
      </div>
    </div>

    <div class="container" id="content">
      <h1 style="text-align: center">Welcome!</h1>
      <h2 style="text-align: center">Choose one of the menu to know how they're awekens!</h2>
    </div>
    <a href="javascript:void(0)" next="{{data.next}}" id="loadMore">Load More</a>
    <script src="js/router.js"></script>

    <script>
      var app = new IFR({
          "people" : "http://swapi.co/api/people/",
          "films" : "http://swapi.co/api/films/",
          "starships" : "http://swapi.co/api/starships/",
          "vehicles" : "http://swapi.co/api/vehicles/",
          "species" : "http://swapi.co/api/species/",
          "planets" : "http://swapi.co/api/planets/"
        },
        "people",
        document.getElementsByClassName("menu"),
        {
          "loadMore" :  document.getElementById("loadMore"),
          "content" : document.getElementById("content")
        }
      );
      app.run();
    </script>
  </body>
</html>
