<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Star Wars</title>
    <link rel="stylesheet" href="css/normalize.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico"
  </head>
  <body>
    <div class="menu-box">
      <div class="container">
        <div class="logo-container">
          <a href="/swapi" class="logo-box">
            <img src="img/logo.png" alt="StarWars" />
          </a>
        </div>
        <ul>
          <li><a class="menu" href="/people">People</a></li>
          <li><a class="menu" href="/films">Films</a></li>
          <li><a class="menu" href="/starships">Starships</a></li>
          <li><a class="menu" href="/vehicles">Vehicles</a></li>
          <li><a class="menu" href="/species">Species</a></li>
          <li><a class="menu" href="/planets">Planets</a></li>
        </ul>
      </div>
    </div>

    <div class="container" id="content">
      {% for item in data.results %}
      <div class="item-box" type="{{state}}">
        <div class="identity">
          <div class="data-type left">
            <i class="icon {{state}}"></i>
          </div>
          <h1 class="left">
            {% if state == 'films' %}
              {{item.title}}
            {% else %}
              {{item.name}}
            {% endif %}
          </h1>
          <div class="clear"></div>
        </div>
        <div class="slight-info">
          {% if state == 'people' %}
            <span title="Starship"><i class="icon-small starships"></i>{{item.starships.length}}</span>
            <span title="Vehicles"><i class="icon-small vehicles"></i>{{item.vehicles.length}}</span>
            <span title="Films"><i class="icon-small films"></i>{{item.films.length}}</span>
          {% elseif state == 'films' %}
            <span title="Pilots"><i class="icon-small people"></i>{{item.characters.length}}</span>
            <span title="Planets"><i class="icon-small planets"></i>{{item.planets.length}}</span>
            <span title="Starship"><i class="icon-small starships"></i>{{item.starships.length}}</span>
            <span title="Vehicles"><i class="icon-small vehicles"></i>{{item.vehicles.length}}</span>
          {% elseif state == 'species' %}
            <span title="Pilots"><i class="icon-small people"></i>{{item.characters.length}}</span>
            <span title="Films"><i class="icon-small films"></i>{{item.films.length}}</span>
          {% elseif state == 'starships' %}
            <span title="Pilots"><i class="icon-small people"></i>{{item.characters.length}}</span>
            <span title="Films"><i class="icon-small films"></i>{{item.films.length}}</span>
          {% elseif state == 'planets' %}
            <span title="Films"><i class="icon-small films"></i>{{item.films.length}}</span>
          {% elseif state == 'vehicles' %}
            <span title="Pilots"><i class="icon-small people"></i>{{item.characters.length}}</span>
            <span title="Films"><i class="icon-small films"></i>{{item.films.length}}</span>
          {% endif %}
        </div>
        <div class="feature-btn">
          <span class="love" title="love"><i class="icon-small love"></i>13</span>
          <span class="comments" title="comments"><i class="icon-small comments"></i>15</span>
          <a class="detail right" href="#detail">Detail</a>
          <div class="clear"></div>
        </div>
      </div>
      {% endfor %}
    </div>

    <a href="javascript:void(0)" next="{{data.next}}" id="loadMore">Load More</a>
    <script src="js/router.js"></script>

    <script>
      var app = new IFR({
          "people" : "http://swapi.co/api/people/",
          "films" : "http://swapi.co/api/films/",
          "starships" : "http://swapi.co/api/starships/",
          "vehicles" : "http://swapi.co/api/vehicles/",
          "species" : "http://swapi.co/api/species/",
          "planets" : "http://swapi.co/api/planets/"
        },
        "people",
        document.getElementsByClassName("menu"),
        {
          "loadMore" :  document.getElementById("loadMore"),
          "content" : document.getElementById("content")
        }
      );
      app.run();
    </script>
  </body>
</html>
