@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,300");

body{
  background: #2E3837;
  font-family: "Open Sans", Helvetica, Arial, "sans-serif";
  color: white;
  line-height: 1.25em;
  font-size: 16px;
}
.container{
  width: 980px;
  margin: auto;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}
a{
  color: #aaa;
  text-decoration: none;
}
a#loadMore{
  display: block;
  width : 200px;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px ;
  font-size: 24px;
}
a#loadMore:hover{
  color: white;
}
.menu-box, .logo-container{
  text-align: center;
}
.logo-container{
  margin-top: 20px;
}
.menu-box ul li{
  display: inline-block;
}
.menu-box ul li a{
  display: block;
  padding: 20px;
  border-bottom: 3px transparent solid;
}
.menu-box ul li a:hover{
  border-bottom: 3px white solid;
  color: white;
}
.data-type{
  width: 50px;
  height: 50px;
  padding: 13px;
  display: inline-block;
}
.icon{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  display: block;
  background-position: 0 0;
  background-size: 50px 50px;
}
.icon.people{
  background-image: url('../img/darth-vader.svg');
}
.icon.starships{
  background-image: url('../img/transport-1.svg');
}
.icon.films{
  background-image: url('../img/star.svg');
}
.icon.species{
  background-image: url('../img/cinema.svg');
}
.icon.planets{
  background-image: url('../img/transport.svg');
}
.icon.vehicles{
  background-image: url('../img/transport-2.svg');
}
.item-box{
  background: white;
  width: 400px;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  margin: auto;
  margin-top: 30px;
  -webkit-transition: all ease-in-out .25s;
}
.item-box:hover{
  box-shadow: 0 0 25px rgba(0,0,0,.57);
}
.item-box .identity h1{
  color: #333;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 1;
}
.slight-info{
  padding: 10px 13px;
  text-align: center;
}
.slight-info span{
  color: #ccc;
  font-size: 14px;
  margin-right: 15px;
}
.feature-btn{
  padding: 10px 13px;
}
.feature-btn span{
  font-size: 14px;
  margin-right: 15px;
}
.feature-btn .love{
  color: #FF7070;
}
.feature-btn .comments{
  color : #4AC6B7;
}
.item-box[type="people"] .data-type{
  background: #166678;
}
.item-box[type="people"] .feature-btn .detail:hover{
  color: #166678;
}
.item-box[type="starships"] .data-type{
  background: #303841;
}
.item-box[type="starships"] .feature-btn .detail:hover{
  color: #303841;
}
.item-box[type="films"] .data-type{
  background: #0E2F56;
}
.item-box[type="films"] .feature-btn .detail:hover{
  color: #0E2F56;
}
.item-box[type="vehicles"] .data-type{
  background: #561050;
}
.item-box[type="vehicles"] .feature-btn .detail:hover{
  color: #561050;
}
.item-box[type="species"] .data-type{
  background: #FF895D;
}
.item-box[type="species"] .feature-btn .detail:hover{
  color: #FF895D;
}
.item-box[type="planets"] .data-type{
  background: #F33535;
}
.item-box[type="planets"] .feature-btn .detail:hover{
  color: #F33535;
}
.icon-small{
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.icon-small.people{
  background-image: url('../img/png/cinema.png');
  background-position: 0 0;
}
.icon-small.starships{
  background-image: url('../img/png/transport-1.png');
  background-position: 0 0;
}
.icon-small.vehicles{
  background-image: url('../img/png/transport-2.png');
  background-position: 0 0;
}
.icon-small.planets{
  background-image: url('../img/png/transport.png');
  background-position: 0 0;
}
.icon-small.films{
  background-image: url('../img/png/star.png');
  background-position: 0 0;
}
.icon-small.love{
  background-image: url('../img/shapes.png');
  background-position: 0 0;
}
.icon-small.comments{
  background-image: url('../img/comments.png');
  background-position: 0 0;
}
